.accept{
	height: 3rem;
	text-align: center;
	width: 6rem;
	background-color:green ;
	padding: 10px;
}

.reject{
	height: 3rem;
	text-align: center;
	width: 6rem;
	background-color: red;
	padding: 10px;
}

.cell{
	display:flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	height: 6rem;
}